@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Raleway&display=swap');

:root {
    --headline-font:  'Inter', sans-serif;
    --headline-intro-color: #E0DFFD;
    --headline-size: 70px;
    --tagline-font: 'Raleway', sans-serif;
    --tagline-size: 25px;
    --tagline-intro-color:  #B8B8B8;
    --headline-color:  #000000;
    --tagline-color: #141414;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: auto;
    max-width: 1440px;
}

body {
    color: var(--tagline-color);
    font-family: var(--tagline-font);
    font-size: var(--tagline-size);
}

button {
    border: 3px solid var(--tagline-color);
    border-radius: 20px;
    padding: 0.5em 1em;
    width: 8em;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: var(--tagline-color);
}

section {
    height: 800px ;
    overflow: hidden; 
}

img {
    width: 100%;
    height: auto;
}

/* ------------------

NAVIGATION BAR

-------------------------------*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    background-color: #000000;
}

nav .navbar-brand {
    font-family: var(--headline-font);
    font-size: 2em;
    color:   var(--headline-intro-color);
}

nav .navbar-toggler {
    display: none;
    color:   var(--headline-intro-color);
}


nav .navbar-nav .nav-item {
    display: inline-block;
    margin-right:2.5em;
    color:   var(--headline-intro-color);
}


/*-----------------
INTRODUCTION
-----------------------*/

#introduction {
    background: url(../images/artistic-blurry-colorful-wallpaper-background.png) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#introduction div {
    width: 50%;
}
#introduction .heading {
    font-family: var(--headline-font);
    font-size: var(--headline-size);
    color: var(--headline-intro-color);
    margin-bottom: 0.5em;
}

#introduction .heading, #features .heading, #features2 .heading {
    line-height: 1;
}

#introduction .tagline {
    font-family: var(--tagline-font);
    font-size: var(--tagline-size);
    color: var(--tagline-intro-color);
    margin-bottom: 4em;
    padding: 0 3em;
}

#introduction button {
    font-family: var(--tagline-font);
    border-color: var(--headline-intro-color);
}


#introduction button a {
    color: var(--headline-intro-color);
}

/*-----------------
FEATURES
-----------------------*/

#features .heading, #features2 .heading {
    font-family: var(--headline-font);
    font-size: var(--headline-size);
    /* color: var(--headline-color); */
}

#features.container, #features2.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#features .info-image img {
    max-height: auto;
}

#features .info, #features2 .info {
    align-self: center;
    padding: 0 6em 0 6em;
}

#features .tagline, #features2 .tagline {
    padding: 2em 6em 4em 0;
    line-height: 1.5;
    font-size: 1.3em;
}

/* 
--------------------
ABOUT 
--------------------------
*/
#about_us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about_us div {
    padding: 0 12em;
}

#about_us .about {
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 4em;
}

.author-container {
    p {
        a {
            color: var(--tagline-intro-color:  #B8B8B8);
        }
    }
}
